/* === LOGO === */


.header__logo {
    font-family: var(--font-family-fantasy);
    font-size: var(--text-3xl);
    color: var(--color-primary-accent);
    font-weight: bold;
    text-decoration: none;

    display: inline-flex;
}

.header__logo_icon {
    margin-right: -5px;
    margin-bottom: -3px;
}

/* === LAYOUT === */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-header-background);
    box-shadow: var(--box-shadow-light);
}

.header__container {
    padding: var(--padding-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}


.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
    margin: 0;
    padding: 0;
}


/* === HAMBURGER === */

.header__navigation {
    display: none;
}

.header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.header__hamburger span {
    height: 3px;
    background: #333;
    border-radius: 3px;
    transition: all 0.3s;
}

.header__mobile_menu {
    position: absolute;
    top: 10vh ;
    left: 40vw;

    display: none;
    flex-direction: column;
    background: var(--color-header-background);
    padding: var(--padding-medium);
    box-shadow: var(--box-shadow-medium);
}

.header__mobile_menu a {
    
    padding: 12px 0;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #eee;
}

.header__mobile_menu a:active {
    
    text-decoration: none;
    color: var(--color-primary-accent);
    border-bottom: 1px solid #eee;
}

/* Estado activo */
.header__mobile_menu.active {
    display: flex;
}


@media (min-width: 768px) {
    .header__navigation {
        display: block;
    }

    .header__hamburger {
        display: none;
    }
}
