body {
    background-color: var(--color-body-background);
}

/* === HEADER === */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-header-background);
    box-shadow: var(--box-shadow-light);
}

.header__container {
    padding: var(--padding-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}


.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
    margin: 0;
    padding: 0;
}

.header__hidden_object {
    display: none;
    width: 140px;
}

@media (min-width: 768px) {
    .header__hidden_object {
        display: block;
    }
}


/* === HERO SECTION === */

.hero_section {
    min-height: 90vh;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    /* height: 66vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-medium);
}


.hero__content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--padding-medium);

    
}

.hero__image {
    order: 1;
    /* height: auto; */
    height: 40vh;
    object-fit: contain;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
    
}

@media (min-width: 768px) {
    .hero__container {
        flex-direction: row;
        padding: var(--padding-large);
    }

    .hero__content {
        display: block;
        padding: 0;
        padding-right: var(--padding-large);
        text-align: left;
        order: 1;
    }

    .hero__image {
        height: 50vh;
        order: 2;
    }
}

@media (min-width: 1024px) {
    .hero__container {
        padding-right: 10vw;
        padding-left: 10vw;
    }

    .hero__image {
        height: 70vh;
    }
}


/* === PRODUCTS SECTION === */


.products_section {
    min-height: 90vh;
    background-color: var(--color-container-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__container {
    width: 100%;
    margin-bottom: var(--margin-large);
    padding: var(--padding-large);
}

@media (min-width: 1024px) {
    .products__container {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

.products__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.products__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(80px, auto);
    gap: var(--gap-medium);
}

.product__card {
    background: var(--color-card-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);

}

.product_card__content {
    padding: var(--padding-small);
}

.product__image {
    width: 100%;
    object-fit: contain;
    border-radius: var(--border-radius-medium);
    border: var( --border)
}


@media (min-width: 768px) {
    .products__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .products__list {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* === CATALOG PAGE === */

.catalog__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-bottom: var(--margin-medium); */
    padding: var(--padding-medium);
}




/* === FOOTER === */


footer {
    background-color: var(--color-body-background);
    padding: var(--padding-xlarge);
    align-items: center;
}

.footer__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(33%, auto);
    justify-content: space-between;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: var(--gap-medium);
}


.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: var(--gap-medium);
}


/* === CONTACTO === */

.contacto_section {
    min-height: 90vh;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto_contenido {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
}

.ubicacion_mapa {
    width: 100%;
    display: inline;
    justify-content: right;
}

.division_mapa {
    width: 100%;
    display: flex;
    margin-bottom: var(--padding-small);
    justify-content: flex-end;
    & iframe {
        width: 650px;
        height: 550px;
        border: 3px solid skyblue;
        margin-right: var(--margin-large);
    }
}

.division_envio {
    width: 100%;
    display: flex;
    justify-content: right;
}

.informacion_contacto {
    display: inline;
    background-color: none;
    justify-content: left;
}

.info_contacto {
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-rows: 40% 20% 20% 20%;
    background-color: var(--color-secondary-accent);
    border-radius: var(--border-radius-medium);
}

.info_titulo {
    text-align: left;
    padding-top: 15%;
    padding-left: var(--padding-large);
    color: white;
    font-family: var(--font-family-heading);
    font-size: var(--text-xl);
}

.info_titulo_detalle {
    display: grid;
    grid-template-columns: 20% 80%;
}

.info_detalle_img {
    text-align: center;
    padding-top: 10%;
    & img {
        width: 45px;
        height: 45px;
    }
}

.info_detalle_datos {
    display: inline;
    & h5 {
        color: var(--color-button-common);
        padding: 10px 0px 0px 0px;
        margin: 0;
    }
    & h4 {
        color: white;
        padding: 5px 0px 0px 0px;
        margin: 0;
    }
}

.info_contacto_img{
    display: flex;
    border-radius: var(--border-radius-medium);
    margin-top: var(--padding-small);
    & img {
        width: 400px;
        height: 400px;
        border-radius: var(--border-radius-medium);
    }
}

.contacto_titulo {
    color: var(--color-primary-accent);
    text-align: center;
    margin-bottom: var(--padding-xlarge);
    & h1 {
        font-family: var(--font-family-fantasy);
        font-size: var(--text-4xl);
    }
}



/* === DETAIL PAGE === */

.detail_section {
    min-height: 80vh;
    background-color: var(--color-container-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail__back_button {
    position: absolute;
    top: 100px;
    left: 30px;
}


.detail__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-medium);
    padding-right: 0;
    margin-top: 80px;
}


.detail__image {
    height: 40vh;
    object-fit: contain;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
    background: var(--color-body-background);
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
    
}

.detail__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: var(--padding-large);
    border-radius: var(--border-radius-medium);

}

.detail__description_container {
    background: var(--color-body-background);
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
}


@media (min-width: 768px) {
    .detail__container {
        justify-content: center;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-top: 0;
    }

    .detail__content {
        display: block;
        min-width: 40vw;
        max-width: 40vw;
        /* padding: 0; */
        /* padding-right: var(--padding-large); */
        margin-left: 5vw;

    }

    .detail__image {
        height: auto;
        max-width: 35vw;
        margin-left: 5vw;
    }
}

@media (min-width: 1024px) {
    .detail__container {
        justify-content: center;
        padding-top: var(--padding-large);
    }

    .detail__content {
        min-width: 40vw;
    }

    .detail__image {
        max-width: 50vh;
    }
}

