body {
    background-color: var(--color-body-background);
}

/* === HEADER === */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-header-background);
    box-shadow: var(--box-shadow-light);
}

.header__container {
    padding: var(--padding-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}


.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
    margin: 0;
    padding: 0;
}

.header__hidden_object {
    display: none;
    width: 140px;
}

@media (min-width: 768px) {
    .header__hidden_object {
        display: block;
    }
}


/* === HERO SECTION === */

.hero_section {
    min-height: 90vh;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    /* height: 66vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-medium);
}


.hero__content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--padding-medium);

    
}

.hero__image {
    order: 1;
    /* height: auto; */
    height: 40vh;
    object-fit: contain;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
    
}

@media (min-width: 768px) {
    .hero__container {
        flex-direction: row;
        padding: var(--padding-large);
    }

    .hero__content {
        display: block;
        padding: 0;
        padding-right: var(--padding-large);
        text-align: left;
        order: 1;
    }

    .hero__image {
        height: auto;
        order: 2;
    }
}

@media (min-width: 1024px) {
    .hero__container {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}


/* === PRODUCTS SECTION === */


.products_section {
    min-height: 90vh;
    background-color: var(--color-container-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__container {
    width: 100%;
    margin-bottom: var(--margin-large);
    padding: var(--padding-large);
}

@media (min-width: 1024px) {
    .products__container {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

.products__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.products__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(80px, auto);
    gap: var(--gap-medium);
}

.product__card {
    background: var(--color-card-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);

}

.product_card__content {
    padding: var(--padding-small);
}

.product__image {
    width: 100%;
    object-fit: contain;
    border-radius: var(--border-radius-medium);
    border: var( --border)
}


@media (min-width: 768px) {
    .products__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .products__list {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* === NEWSLETTER SECTION === */


.newsletter_section {

    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--padding-xlarge);
}

.newsletter__container {
    background: var(--color-primary);

    margin-top: var(--margin-large);
    margin-bottom: var(--margin-large);
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-large);
    border-radius: var(--border-radius-xlarge);
}

@media (min-width: 768px) {
    .newsletter__container {
        width: 66%;
        min-height: 40vh;
    }
}

@media (min-width: 1024px) {
    .newsletter__container {
        width: 50%;
        min-height: 30vh;
    }
}

.newsletter__content {
    
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newsletter__form {
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
}

.newsletter__input {
    border-radius: var(--border-radius-large);
    border: none;
    text-align: left;
    padding: var(--padding-small);
    box-shadow: var(--box-shadow-inner);
    border: var(--border-primary);
    transition: all 0.3s;
}

.newsletter__input:hover {
    border: var(--border-secondary)
}


/* === FOOTER === */


footer {
    background-color: var(--color-body-background);
    padding: var(--padding-xlarge);
    align-items: center;
}

.footer__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(33%, auto);
    justify-content: space-between;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: var(--gap-medium);
}


.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: var(--gap-medium);
}





